<!DOCTYPE html>
<html>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<body>
  <div id="root">
    <input v-model="newCat">
    <button v-on:click="addkitty">
      + ADD
    </button>
    <ul>
      <li v-for="cat in cats">
        {{ cat }}
      </li>
    </ul>
  </div>

<script>
app = new Vue({
  el: '#root',
  data: {
    cats: [
      {name: 'toto'},{name:'Titi'},{name:'habi'}
    ],
    newCat: ''  
  },
  method: {
    addkitty: function(){
      return this.cats.push({name: this.newCat})
    }
  }
})
</script>

</body>
</html>